/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 2px;
    padding: 2px;
    
}

/* Global styles */
body {
    font-family:  'Cabin', sans-serif;
    background-color: #e49d9d; /* Dark background color */
    margin: 0;
    padding: 0;
    color: #fff; /* Text color */
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #111827; /* Dark header background color */
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1E212D; /* Dark container background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1, h2 {
    color: #2980b9; /* Heading text color */
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 24px;
}

h3 {
    color:#2980b9;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h4{
    color: white;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
}

label {
    color:#2980b9;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/* Paragraph styles */
p {
    color:#059669; /* Text color */
    line-height: 1.4;
}

strong{
    color:#059669;
    
}

h5{
    align-self: center;
}

/* Form element styles */
select, input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #444; /* Form element border color */
    border-radius: 5px;
    font-size: 16px;
    background-color: #333; /* Form element background color */
    color: #fff; /* Form element text color */
}

/* Button styles */
button {
    background-color:#2980b9; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 14px 28px; /* Increase padding for larger button */
    border-radius: 20px; /* Increased border-radius for rounded buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Increase font size */
    font-weight: bold;
}

button:hover {
    background-color: #059669; /* Hover background color */
    transform: scale(1.05); /* Increase size on hover */
}

/* Download button styles */
#downloadPdfButton {
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Increased border-radius for rounded button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#downloadPdfButton:hover {
    background-color: #2980b9; /* Hover background color */
}
